<p>Olá, <%= @receiver.email %>,</p>
<p>Você recebeu um novo pedido de conexão de <%= @sender.email %>.</p>
<p>Acesse <a href="http://localhost:3000/dashboard">seu painel</a> para aceitar ou recusar.</p>
